.card1{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card2{
    width:320px;
    height:200px;
    background: linear-gradient(purple,red,blue,green);
    color:white;
    font-size: 30px;
    text-align:center;
    border-radius: 20px;
    margin:20px;

}
.india{
    margin-top:20px;
}
.a{
    font-size:50px;
}